* {
    padding: 0;
    margin: 0;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    font-family: 'Roboto', 'Open Sans', sans-serif;
    
    background: url("./assets/bg-1080p.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header, footer {
    height: 5vh;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 16px;
    font-weight: 500;
    color: #ffb7af;

    background-color: rgb(243, 243, 243);
}

header{
    margin-bottom: 20px;
}

footer{
    bottom: 0px;
}

.pageTitle {
    padding: 20px;
}

a{
    text-decoration: none;
    color: #ffb7af;
}

.calculation{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.dateConstructor{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    align-items: center;
    justify-content: space-evenly;

    width: 80vw;
    max-width: 800px;
}

select{
    text-align: center;

    height: 3vh;
    min-height: 40px;

    width: 100vw;

    border: 0px none;
    border-radius: 6px;
}

.sub-sec-title{
    margin: 10px 0;
    border-radius: 6px;

    height: 3vh;
    min-height: 40px;
    width: 80vw;
    max-width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    color: rgb(243, 243, 243);

    background-color: #ffb7af;
}

.explanation{
    color: white;
}

button {
    background-color: #ffb7af;
    border-radius: 100%;
    border: 0px none;
    height: 10vh;
    width: 10vh;
}

button:hover{
    background-color: #ffecea;
}

.credits > p{
    font-size: 13px;
}