* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fafafa;
}
::-webkit-scrollbar-thumb {
    background: #ffa49a;
    border-radius:10px;
}


@media only screen and (orientation:portrait) and (max-width: 1400px) {
    body{
        background: url("./assets/1400-2300.png") no-repeat center center fixed;
    }
}

@media only screen and (orientation:portrait) and (max-width: 1080px) {
    body{
        background: url("./assets/1080-1920.png") no-repeat center center fixed;
    }
}

@media only screen and (orientation:portrait) and (max-width: 620px) {
    body{
        background: url("./assets/720-1560.png") no-repeat center center fixed;
    }
}

@media only screen and (orientation:landscape) and (max-width: 1920px) {
    body{
        background: url("./assets/1920-1440.png") no-repeat center center fixed;
    }
}

@media only screen and (orientation:landscape) and (max-width: 720px) {
    body{
        background: url("./assets/1360-768.png") no-repeat center center fixed;
    }
}

@media only screen and (orientation:landscape) and (min-width: 1920px) {
    body{
        background: url("./assets/2560-1440.png") no-repeat center center fixed;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    font-family: 'Roboto', 'Open Sans', sans-serif;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: optimizeQuality;
}

/* 
Accounts for the problem where the Chrome navigation bar 
messes with the 100vh from the height property on mobile view.
*/

html {
    height: -webkit-fill-available;
}

header, footer {
    height: 6vh;
    min-height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color:#ffa49a;
    background-color: #fafafa;

    position: fixed;
    width: 100vw;
    z-index: 1;

    -webkit-box-shadow: 0px 0px 30px 1px rgba(129, 100, 95, 0.15);
    -moz-box-shadow: 0px 0px 30px 1px rgba(129, 100, 95, 0.15);
    box-shadow: 0px 0px 30px 1px rgba(129, 100, 95, 0.15);
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
}

footer > div > p:nth-child(1){
    font-size: 0.9rem;
}

footer > div > p > a{
    text-decoration: none;
    color:#ffa49a
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto 0;
}

.item-section {
    margin: 10px 0;
    border-radius: 6px;

    height: 5vh;
    min-height: 36px;

    width: 90vw;
    max-width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fafafa;
    background-color: #ffa49a;
}

.dateConstructor {
    display: flex;
    column-gap: 10px;

    height: 5vh;
    min-height: 36px;

    width: 90vw;
    max-width: 800px;
}

.dayClass, .monthClass, .yearClass {
    width: 100vw;

    border: 0px none;
    border-radius: 6px;

    font-size: 0.9rem;
    text-align: center;

    color: #ffa49a;
    background-color:#fafafa;
}

.btnCalc {
    color: #fafafa;
    background-color: #ffa49a;

    font-weight: 300;
    font-size: 1.5rem;

    border-radius: 100%;
    border: 0px none;

    height: 15vh;
    min-height: 150px;

    width: 15vh;
    min-width: 150px;

    margin: 20px 0 10px 0;
}

.btnCalc:hover {
    color: #ffa49a;
    background-color: #fafafa;
}

.gaResClass, .eddResClass {
    margin-bottom: 10px;
    border-radius: 6px;

    height: 5vh;
    min-height: 36px;
    width: 90vw;
    max-width: 800px;

    justify-content: center;
    align-items: center;

    font-style: italic;
    font-weight: 500;
    font-size: 0.9rem;
    color: #ffa49a;
    background-color: #fafafa;

    display: flex;
}

select:disabled{
    color: #fafafa;
    background-color: #fafafa;
    opacity: 60%;
}